<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' context='width=device-width, initial-scale=1.0'>
        <title>TwitterClone</title>
    </head>
    <body>
        <a href='/profile/{{user.id}}/'><button>Profile</button></a> 
        <a href='/add_tweet/'><button>Add Tweet</button></a>
        <a href='/notifications/'><button>Notification</button></a>
        <a href='/logout/'><button>Log Out</button></a>
        <h1>{{headline}}</h1> 
        {%for comment in tweets reversed%}
        <a href="/tweet/{{comment.id}}/">{{comment.tweet}}</a>
        <a href='/profile/{{comment.tweet_maker.id}}/'><p>{{ comment.tweet_maker }}</p></a>
        <hr>

        {% endfor %}
    </body>
</html>